footer{
    background-color:#141414;
    display: flex;
    width: 1920px;
    align-items: center;
    height: 115px;
    position: fixed;
    bottom: 0px;
}

.contact-info{
    width: 280px;
    height: 67px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 810px;
}

.mes{
    width: 66.67px;
    height: 99px;
}

.year-footer{
    color:#ffffff60;
    margin-left: 310px;
    font-family: Light;
}
.email{
    color:#ffffff60;
    font-family: Light;
}
.phone{
    color:#ffffff60;
    font-family: Light;
}