.mega-block{
    width: 1488px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
}
.calendar-top{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.h1-calendar{
    font-family: Bold;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    text-transform: uppercase;
}
.calendar-bottom{
    width: 1480px;

    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap:26px;
}
.check-filter{
    background: rgba(117, 117, 117, 0.15);
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
}
.calendars{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.calendar-cart{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 1080px;
}


.calendar-cart-bottom{
    background: rgba(209, 208, 208, 0.6);
    width: 100%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.opis-cart{
    font-family: Bold;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    padding: 10px;
}
.filterSort{
    background: rgba(20, 20, 20, 0.5);
    border-radius: 10px;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    gap: 15px;
}
.prev-filterSort{
    width: 125%;
    height: 3px;
    background: white;
}
.buts-filter, .buts-sort{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.filter,.sort{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.but-filter, .but-sort{
    background: rgba(255, 255, 255, 0.7);;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    font-family: Regular;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: black;
}


.selected{
    background-color:#fff;
    color: black;
    font-family: Bold;
}

.but-filter:hover,
.but-filter:focus{
    background-color:#fff;
    color: black;
    font-family: Bold;
}


.but-sort:focus,
.but-sort:hover{
    background-color:#fff;
    color: black;
    font-family: Bold;
}

.filter-h1, .sort-h1{
    font-family: Bold;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    text-transform: uppercase;
    color: white;
}
.button-form-filterSort{
    font-family: Bold;
font-weight: 700;
font-size: 18px;
line-height: 111%;
text-transform: uppercase;
color: black;
padding: 15px;
border:none;
outline: none;
border-radius: 10px;
}

.button-form-filterSort:focus,
.button-form-filterSort:hover{
    background-color:#fff;
    color: black;
    font-family: Bold;
}

.block-poisk{
    background: rgba(41, 41, 41, 0.6);
    width: 60%;
    height: 56px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-poisk{
    width: 95%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 16px;
    font-family: Light;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: black;
}
.poisk-abc{
    width: 95%;
    display: flex;
    justify-content: flex-end;
    margin-right: 3%;
    align-items: center;
}
.button-form-poisk{
    position: absolute;
    border:none;
    background: none;
    outline: none;
    padding: 10px;
}

.calendar{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.h1-cart{
    font-family: Bold;
font-weight: 700;
font-size: 24px;
line-height: 125%;
text-transform: uppercase;
color: white;
}

.h1-date{
    font-family: Bold;
font-weight: 700;
font-size: 24px;
line-height: 125%;
text-transform: uppercase;
color: white;
width:139px ;
height: 51px;
padding: 15px;
border-right: 3px solid white;
}


.calendar-cart-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: auto;
    background: rgba(41, 41, 41, 0.6);
    border-radius: 16px;
}

.name-location{
    display: flex;
    justify-content: space-between;

}

.h1-name{
    font-family: Bold;
font-weight: 700;
font-size: 24px;
line-height: 125%;
text-transform: uppercase;
color: white;
width:530px ;

height: auto;
padding-top: 10px;
padding-bottom: 10px;
border-right: 3px solid white;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}

.h1-location{
    font-family: Bold;
font-weight: 700;
font-size: 24px;
line-height: 125%;
text-transform: uppercase;
color: white;
width:378px ;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
border-right: 3px solid white;
}

.calendar-button{
    width: 155px;
    height: 50px;
    padding: 15px;
    background:rgba(20, 20, 20, 0.5);
    font-family: Bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    color: rgb(255, 255, 255);
    border:none;
    outline: none;
    border-radius: 16px;
    margin-left: 5px;
    margin-right: 5px;
}
.div__calendar-button{
    display: flex;
    align-items: center;
}

.pages{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 150px;
}

.page_number{
    background: rgba(255, 255, 255);
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    font-family: Regular;
    font-weight: 400;
    font-size: 40px;
    line-height: 125%;
    color: black;
    width: 70px;
    height: 70px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page_number:hover{
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    color:white;

}

.arrow{
    font-size: 60px;

}

.active{
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    color:white;
}